<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEJTPUQ9ClyNHCOmyUsFCpQGiKMi0Ttsk</string>
	<key>GCM_SENDER_ID</key>
	<string>1058207793696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluttroile.ecomm</string>
	<key>PROJECT_ID</key>
	<string>aphoniq-a-i-ia2t4u</string>
	<key>STORAGE_BUCKET</key>
	<string>aphoniq-a-i-ia2t4u.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058207793696:ios:498da00a4835aa89b6f245</string>
</dict>
</plist>